<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Vendor</th>
            <th scope="col">Part Number</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope='col'>Vials</th>
            <th scope='col'>MacHerey-Nagel</th>
            <th scope='col'><a href="https://www.mn-net.com/us/screw-neck-vial-n-9-11.6x32.0-mm-1.5-ml-label-flat-bottom-clear-702283">702283</a></th>
            <th scope='col'>100 N9 screw neck clear vials, 1.5 mL</th>
        </tr>
        <tr>
            <th scope='col'>Vials</th>
            <th scope='col'>MacHerey-Nagel</th>
            <th scope='col'><a href="https://www.mn-net.com/us/screw-neck-vial-n-9-11.6x32.0-mm-1.5-ml-label-flat-bottom-amber-702284">702284</a></th>
            <th scope='col'>100 N9 screw neck amber vials, 1.5 mL</th>
        </tr>
        <tr>
            <th scope='col'>Caps</th>
            <th scope='col'>MacHerey-Nagel</th>
            <th scope='col'><a href="https://www.mn-net.com/us/screw-closure-n-9-pp-blue-center-hole-silicone-white/ptfe-red-1.0-mm-702287.1?c=5246">702287.1</a></th>
            <th scope='col'>100 N9 screw caps, silicone white/PTFE red, 1.0 mm</th>
        </tr>
        <tr>
            <th scope='col'>Vials</th>
            <th scope='col'>Southern Scientific</th>
            <th scope='col'><a href="https://www.southernscientificlabsupplies.com/store/p1170/9_mm_Large_Opening_Screw_Thread_Vials_-_1.8mL_Clear_Vial%2C_w%2Fwriting_patch_Qty_100.html">9002</a></th>
            <th scope='col'>100 N9 screw neck clear vials, 1.8 mL (also available in 1000 packs)</th>
        </tr>
        <tr>
            <th scope='col'>Vials</th>
            <th scope='col'>Southern Scientific</th>
            <th scope='col'><a href="https://www.southernscientificlabsupplies.com/store/p1174/9_mm_Large_Opening_Screw_Thread_Vials_-_1.8mL_Amber_Vial%2C_w%2Fwriting_patch_Qty_100.html">9004</a></th>
            <th scope='col'>100 N9 screw neck amber vials, 1.8 mL (also available in 1000 packs)</th>
        </tr>
        <tr>
            <th scope='col'>Caps</th>
            <th scope='col'>Southern Scientific</th>
            <th scope='col'><a href="https://www.southernscientificlabsupplies.com/store/p1386/9_mm_Polypropylene_Screw_Thread_Closures__-_Red_PTFE%2FWhite_Silicone_Septum_-_Blue_Cap_Color_Qty_100.html">9005</a></th>
            <th scope='col'>100 N9 screw caps, red PTFE/white silicone</th>
        </tr>
    </tbody>
</table>