<!-- <div class="container-fluid" id="title"> -->
<div class="d-flex justify-content-center">
  <h1>{{ page.title }}</h1>
</div>
<!-- <h1>{{ page.title }}</h1> -->
  <nav class="d-flex justify-content-center page__nav" id="navigation">
    <ul class="nav nav-pills page__nav-inner" id="navbar">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">active</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">instruments</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">HPLC-A</a></li>
          <li><a class="dropdown-item" href="#">HPLC-B (LC/MS)</a></li>
          <li><a class="dropdown-item" href="#">HPLC-D</a></li>
          <li><a class="dropdown-item" href="#">HPLC-I</a></li>
          <li><a class="dropdown-item" href="#">UPLC/TOF</a></li>
          <li><a class="dropdown-item" href="#">HPLC/QQQ</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">methods</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">drugs</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">tools</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://morimoto.shinyapps.io/platemapr">platemapr</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">forms</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/forms/sample_request">sample request</a></li>
          <li><a class="dropdown-item" href="/forms">method development request</a></li>
        </ul>
      </li>
    </ul>
  </nav>