<section>
  <div class="container-md" id="content">
    <h2 id="hplc">
      HPLC <a href="#hplc"></a>
    </h2>
      <div class="row align-items-start">
        <div class="col">
          <ul>
            <li>
              <h3 id="mit">
                MIT <a href="#mit"></a>
              </h3>
              <ul>
                <li>
                  <h4 id="76-641">
                    76-641 <a href="#76-641"></a>
                  </h4>
                  <ul>
                    <li>
                      <h5 id="hplc-a">
                        HPLC A <a href="#hplc-a"></a>
                      </h5>
                      <ul>
                        <li>Agilent 1260 Infinity II reversed phase HPLC
                          <ul>
                            <li>Quaternary pump</li>
                            <li>Multisampler (6 trays total)</li>
                            <li>DAD</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h5 id="hplc-b">
                        HPLC B <a href="#hplc-b"></a>
                      </h5>
                      <ul>
                        <li>Agilent 1260 Infinity I reversed phase HPLC
                          <ul>
                            <li>Quaternary pump</li>
                            <li>WP-sampler (2 trays total)</li>
                            <li>DAD</li>
                            <li>6120B single quadrupole MS</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4 id="5-029">
                    5-029 <a href="#5-029"></a>
                  </h4>
                  <ul>
                    <li>
                      <h5 id="hplc-j">
                        HPLC J <a href="#hplc-j"></a>
                      </h5>
                      <ul>
                        <li>Agilent 1100 reversed phase HPLC
                          <ul>
                            <li>Quaternary pump</li>
                            <li>Tray sampler (100 vials total)</li>
                            <li>DAD</li>
                            <li>6125B single quadrupole MS</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
         <li>
           <h3 id="bwh">
             BWH <a href="#bwh"></a>
           </h3>
           <ul>
             <li>
               <h4 id="2nd-floor">
                 2nd floor <a href="#2nd-floor"></a>
               </h4>
               <ul>
                 <li>
                   <h5 id="hplc-i">
                     HPLC I <a href="#hplc-i"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1100 reversed phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>Tray sampler (100 vials total)</li>
                         <li>DAD</li>
                         <li>6130B single quadrupole MS</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
               </ul>
             </li>
             <li>
               <h4 id="5th-floor">
                 5th floor <a href="#5th-floor"></a>
               </h4>
               <ul>
                 <li>
                   <h5 id="hplc-c">
                     HPLC C <a href="#hplc-c"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1290 Infinity I reversed phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>Multisampler (6 trays total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                 <li>
                   <h5 id="hplc-d">
                     HPLC D <a href="#hplc-d"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1100 Infinity I reversed phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>WP-sampler (2 trays total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                 <li>
                   <h5 id="hplc-e">
                     HPLC E <a href="#hplc-e"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1100 normal phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>Tray sampler (100 vials total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                 <li>
                   <h5 id="hplc-f">
                     HPLC F <a href="#hplc-f"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1260 Infinity II reversed phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>Multisampler (8 trays total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                 <li>
                   <h5 id="hplc-g">
                     HPLC G <a href="#hplc-g"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1260 Infinity II reversed phase HPLC
                       <ul>
                         <li>Binary pump</li>
                         <li>Multisampler (6 trays total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                 <li>
                   <h5 id="hplc-h">
                     HPLC H <a href="#hplc-h"></a>
                   </h5>
                   <ul>
                     <li>Agilent 1260 Infinity I reversed phase HPLC
                       <ul>
                         <li>Quaternary pump</li>
                         <li>Multisampler (6 trays total)</li>
                         <li>DAD</li>
                       </ul>
                     </li>
                   </ul>
                 </li>
               </ul>
             </li>
           </ul>
         </li>
       </ul>
      </div>
    </div>
    <h2 id="lcms-and-lc-msms">
      LC/MS and LC-MS/MS <a href="#lcms-and-lc-msms"></a>
    </h2>
    <ul>
      <li>
        <h3 id="mit-1">
          MIT <a href="#mit-1"></a>
        </h3>
        <ul>
          <li>
            <h4 id="76-643">
              76-643 <a href="#76-643"></a>
            </h4>
            <ul>
              <li>
                <h5 id="lc-tof">
                  LC-TOF <a href="#lc-tof"></a>
                </h5>
                <ul>
                  <li>Agilent 1260 Infinity II reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>Multisampler (10 trays total)</li>
                      <li>DAD</li>
                      <li>6224 TOFMS</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4 id="76-641-1">
              76-641 <a href="#76-641-1"></a>
            </h4>
            <ul>
              <li>
                <h5 id="hplc-b-1">
                  HPLC B <a href="#hplc-b-1"></a>
                </h5>
                <ul>
                  <li>Agilent 1260 Infinity I reversed phase HPLC
                    <ul>
                      <li>Quaternary pump</li>
                      <li>WP-sampler (2 trays total)</li>
                      <li>DAD</li>
                      <li>6120B single quadrupole MS</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4 id="76-somewhere">
              76-somewhere <a href="#76-somewhere"></a>
            </h4>
            <ul>
              <li>
                <h5 id="agilent-6495-wip">
                  Agilent 6495 (WIP) <a href="#agilent-6495-wip"></a>
                </h5>
                <ul>
                  <li>Agilent 1200 reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>WP-sampler (2 trays total)</li>
                      <li>6495 triple quadrupole MS</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h3 id="bwh-1">
          BWH <a href="#bwh-1"></a>
        </h3>
        <ul>
          <li>
            <h4 id="2nd-floor-1">
              2nd floor <a href="#2nd-floor-1"></a>
            </h4>
            <ul>
              <li>
                <h5 id="agilent-6495b">
                  Agilent 6495B <a href="#agilent-6495b"></a>
                </h5>
                <ul>
                  <li>Agilent 1290 Infinity II reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>Multisampler (10 trays total)</li>
                      <li>6495B triple quadrupole MS</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4 id="5th-floor-1">
              5th floor <a href="#5th-floor-1"></a>
            </h4>
            <ul>
              <li>
                <h5 id="thermo-tsq-quantiva">
                  Thermo TSQ Quantiva <a href="#thermo-tsq-quantiva"></a>
                </h5>
                <ul>
                  <li>Agilent 1100 reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>WP-sampler (6 trays total)</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h5 id="agilent-lc-qtof">
                  Agilent LC-QTOF <a href="#agilent-lc-qtof"></a>
                </h5>
                <ul>
                  <li>Agilent 1200 reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>WP-sampler (2 trays total)</li>
                      <li>DAD</li>
                      <li>6550A QTOF</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h5 id="agilent-2dlc-qtof">
                  Agilent 2DLC-QTOF <a href="#agilent-2dlc-qtof"></a>
                </h5>
                <ul>
                  <li>Agilent 1290 Infinity II reversed phase HPLC
                    <ul>
                      <li>Binary pump</li>
                      <li>Multisampler (6 trays total)</li>
                      <li>6545B QTOF</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2 id="icpms">
      ICP/MS <a href="#icpms"></a>
    </h2>
    <ul>
      <li>Agilent 7700s with LC capabilities</li>
    </ul>
    <h2 id="optical-analysis">
      Optical Analysis <a href="#optical-analysis"></a>
    </h2>
    <ul>
      <li>Cary 3500 UV-vis with 4 zone thermal control (0 – 100 C)</li>
      <li>Cary 8453 UV-vis with multizone thermal control (10 – 70 C)</li>
      <li>Cary 60 UV-vis with 18 channel cuvette station</li>
      <li>Cary 630 FTIR (all attachments/modules)</li>
      <li>Cary Eclipse Fluorescence (all attachments/modules)</li>
    </ul>
    <h2 id="thermal-analysis">
      Thermal Analysis <a href="#thermal-analysis"></a>
    </h2>
    <ul>
      <li>TA Instruments DSC</li>
      <li>TA Instruments TGA</li>
    </ul>
    <h2 id="gcfid-and-gcms">
      GC/FID and GC/MS <a href="#gcfid-and-gcms"></a>
    </h2>
    <ul>
      <li>
        <h3 id="mit-2">
          MIT <a href="#mit-2"></a>
        </h3>
        <ul>
          <li>
            <h4 id="5-029-1">
              5-029 <a href="#5-029-1"></a>
            </h4>
            <ul>
              <li>
                <h5 id="7890b-gcms">
                  7890B GC/MS <a href="#7890b-gcms"></a>
                </h5>
                <ul>
                  <li>Headspace autosampler</li>
                  <li>Single FID</li>
                  <li>Single TCD</li>
                  <li>5977 MS</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h3 id="bwh-2">
          BWH <a href="#bwh-2"></a>
        </h3>
        <ul>
          <li>
            <h4 id="5th-floor-2">
              5th floor <a href="#5th-floor-2"></a>
            </h4>
            <ul>
              <li>
                <h4 id="6890n-gcfid">
                  6890N GC/FID <a href="#6890n-gcfid"></a>
                </h4>
                <ul>
                  <li>Headspace autosampler</li>
                  <li>Dual FID</li>
                </ul>
              </li>
              <li>
                <h4 id="7890b-gc-msms">
                  7890B GC-MS/MS <a href="#7890b-gc-msms"></a>
                </h4>
                <ul>
                  <li>Liquid-only autosampler</li>
                  <li>7010B triple quadrupole MS</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2 id="preparativeflash-chromatography">
      Preparative/Flash Chromatography <a href="#preparativeflash-chromatography"></a>
    </h2>
    <ul>
      <li>
        <h3 id="mit-3">
          MIT <a href="#mit-3"></a>
        </h3>
        <ul>
          <li>
            <h4 id="5-029-2">
              5-029 <a href="#5-029-2"></a>
            </h4>
            <ul>
              <li>
                <h4 id="agilent-preparative-lcms">
                  Agilent Preparative LC/MS <a href="#agilent-preparative-lcms"></a>
                </h4>
                <ul>
                  <li>Reversed phase preparative HPLC</li>
                  <li>6125 single quadrupole MS</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h3 id="bwh-3">
          BWH <a href="#bwh-3"></a>
        </h3>
        <ul>
          <li>
            <h4 id="2nd-floor-2">
              2nd floor <a href="#2nd-floor-2"></a>
            </h4>
            <ul>
              <li>
                <h5 id="isco-1">
                  ISCO 1 <a href="#isco-1"></a>
                </h5>
                <ul>
                  <li>Normal phase flash UV-vis</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4 id="5th-floor-3">
              5th floor <a href="#5th-floor-3"></a>
            </h4>
            <ul>
              <li>
                <h5 id="isco-2">
                  ISCO 2 <a href="#isco-2"></a>
                </h5>
                <ul>
                  <li>Normal phase flash and reversed phase prep — UV-vis</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2 id="gpcpolymer-analysis">
      GPC/Polymer Analysis <a href="#gpcpolymer-analysis"></a>
    </h2>
    <ul>
      <li>
        <h3 id="bwh-4">
          BWH <a href="#bwh-4"></a>
        </h3>
        <ul>
          <li>
            <h4 id="5th-floor-4">
              5th floor <a href="#5th-floor-4"></a>
            </h4>
            <ul>
              <li>
                <h5 id="gpc-1">
                  GPC 1 <a href="#gpc-1"></a>
                </h5>
                <ul>
                  <li>Agilent 1100
                    <ul>
                      <li>Quaternary pump</li>
                      <li>Tray sampler (100 vials total)</li>
                      <li>DAD</li>
                      <li>RID</li>
                      <li>DMF or THF GPC</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h5 id="gpc-2">
                  GPC 2 <a href="#gpc-2"></a>
                </h5>
                <ul>
                  <li>Agilent 1100
                    <ul>
                      <li>Quaternary pump</li>
                      <li>Tray sampler (100 vials total)</li>
                      <li>DAD</li>
                      <li>RID</li>
                      <li>Water GPC</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>