<p>
    Please fill out this form if you require a specific HPLC and/or LC/MS analysis.
    Samples will be placed in a queue. HPLC and non-serum LC/MS samples should be
    placed in a 4&deg;C refrigerator (let us know where it is). LC/MS serum samples
    should be frozen and stored in a -80&deg;C freezer.
</p><hr/>
<!-- <a href="https://www.dropbox.com/sh/n2zb8f0n8oi119f/AAD84Hb9bGPLQzCv_JQOA1Nba?dl=0">Platemap dropbox</a> -->
<!-- https://script.google.com/a/tufts.edu/macros/s/AKfycbw_Nz02RKrQ96yOyAw28itqr8YCQg8wWQORAChbjg/exec
https://script.google.com/macros/s/AKfycbxb9f6U6-tvyZc-koH8F_w7AV8WyBMga1DE24SiMtx1Rs1A8uyA/exec -->
<!-- action="https://script.google.com/macros/s/AKfycbyNP_pRcmirpt2vQM10x66LHD-HCRO9HUlR_OftTGD17R0SCD8kjek0afUy6lxX1X3Zug/exec" -->
<form class="gform" method="POST"
    action="https://script.google.com/macros/s/AKfycby3_o7vs3ZD9ip4EoQwdIkgE27ICBBEeH58yQ8KLU--I6n4EjGI9NoiCJGC1pVnHI_C6g/exec"
    onsubmit="submitted=true;">
    <div style="display:none" class="confirmation">
        <h4>Request form submitted. You can refill this form to submit another sample request</h4>
        <hr/>
    </div>
    <h4>Contact Info</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="researcher">Researcher Name</label>
            <input type="text" class="form-control" name="researcher" id="researcher" required>
        </div>
        <div class="form-group col-md-6">
            <label for="researcher_email">e-mail</label>
            <input type="text" class="form-control" name="researcher_email" id="researcher_email" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tech">Technician Name</label>
            <input type="text" class="form-control" name="tech" id="tech">
        </div>
        <div class="form-group col-md-6">
            <label for="tech_email">e-mail</label>
            <input type="text" class="form-control" name="tech_email" id="tech_email">
        </div>
    </div>
    <hr/>
    <h4>Sample info</h4>
    <div class="form-group row">
        <div class="col-md-2 col-sm-6">
            <legend class="col-form-label pt-0">Experiment Type</legend>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="study_type" id="rad.opt.1" value="in_vitro" checked/>
                    <label class="form-check-label" for="rad.opt.1">
                        in vitro
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="study_type" id="rad.opt.2" value="ex_vivo"/>
                    <label class="form-check-label" for="rad.opt.2">
                        ex vivo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="study_type" id="rad.opt.3" value="in_vivo"/>
                    <label class="form-check-label" for="rad.opt.3">
                        in vivo
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="compound">Compound</label>
            <input type="text" class="form-control" name="compound" id="compound" required/>
        </div>
        <div class="col-md-2 col-sm-6">
            <label for="n_samples"># samples</label>
            <input type="number" class="form-control" name="n_samples" id="n_samples" required/>
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location" required/>
        </div>
    </div>
    <div class="form-group row pt-4">
      <div class="col-3">
        <label for="instrument">Instrument</label>
        <select class="form-control" name="instrument" id="instrument">
          <option>Any</option>
          <option>HPLC-A</option>
          <option>HPLC-B (LC/MS)</option>
          <option>HPLC-D</option>
          <option>HPLC-E</option>
          <option>HPLC-F</option>
          <option>UPLC-TOF</option>
          <option>BWH Triple-Quad LC/MS</option>
          <option>GC/MS</option>
          <option>Other (specify in comments)</option>
        </select>
      </div>
      <div class="col-3">
        <label for="platemap">Platemap</label>
        <!-- <input type="file" class="form-control-file" name="platemap" id="platemap"> -->
        <br>
        <a href="https://www.dropbox.com/request/Y5OpOHCYa4YIW0is2JSx" target="_blank">Upload your plate map here (opens in new tab)</a>
      </div>
      <div class="col-6">
        <label for="comments">Additional comments</label>
        <input type="text" class="form-control" name="comments" id="comments" />
      </div>
    </div>
    <div class="form-check pt-4">
        <input class="form-check-input" type="checkbox" name="toa" id="toa" value="yes" required>
        <label class="form-check-label" for="toa">My samples have been centrifuged or filtered adequately and the contents are not cloudy.</label>
    </div>
    <div class="form-check pt-4">
        <input class="form-check-input" type="checkbox" name="return" id="return" value="yes">
        <label class="form-check-label" for="return">I need my samples returned to me after analysis (provide a vial rack if you're borrowing one of our 54-vial plates, otherwise we will throw them out).</label>
    </div>
    <hr/>
    <input type="submit" value="Submit">
</form>

<script data-cfasync="false" type="text/javascript" src="../assets/scripts/form-submission-handler.js"></script>