<table class="table">
    <thead>
        <tr>
            <th scope="col">Instrument Name</th>
            <th scope="col">Type</th>
            <th scope="col">Location</th>
            <th scope="col">Floor/Room</th>
            <th scope="col">Pump</th>
            <th scope="col">Sampler</th>
            <th scope="col">Detector 1</th>
            <th scope="col">Detector 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope='col'>HPLC A</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>MIT</th>
            <th scope='col'>76-641</th>
            <th scope='col'>G7111B Quat Pump</th>
            <th scope='col'>G7167A Multisampler, 576 sample capacity</th>
            <th scope='col'>G7115A DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC B</th>
            <th scope='col'>LC/MS</th>
            <th scope='col'>MIT</th>
            <th scope='col'>76-641</th>
            <th scope='col'>G1311 Quat Pump</th>
            <th scope='col'>G1367E Multisampler, 192 sample capacity</th>
            <th scope='col'>G4212B DAD</th>
            <th scope='col'>Agilent 6120 Quadrupole MS</th>
        </tr>
        <tr>
            <th scope='col'>HPLC C</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Multisampler, 576 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC D</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Multisampler, 192 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC E</th>
            <th scope='col'>Normal Phase HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Tray sampler, 100 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC F</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Multisampler, 768 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC G</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Binary pump</th>
            <th scope='col'>Multisampler, 576 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC H</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Multisampler, 576 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>HPLC I</th>
            <th scope='col'>LC/MS</th>
            <th scope='col'>BWH</th>
            <th scope='col'>2nd Floor</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Tray sampler, 100 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>Agilent 6130B Quadrupole MS</th>
        </tr>
        <tr>
            <th scope='col'>HPLC J</th>
            <th scope='col'>HPLC</th>
            <th scope='col'>MIT</th>
            <th scope='col'>5-029</th>
            <th scope='col'>Quat pump</th>
            <th scope='col'>Tray sampler, 100 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>Agilent 6125B Quadrupole MS</th>
        </tr>
        <tr>
            <th scope='col'>Brigham Triple Quad</th>
            <th scope='col'>LC/MS/MS</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Binary pump</th>
            <th scope='col'>Multisampler, 960 sample capacity</th>
            <th scope='col'>Agilent 6495B QQQ MS</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>QTOF</th>
            <th scope='col'>LC/MS/MS </th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Binary pump</th>
            <th scope='col'>Multisampler, 192 sample capacity</th>
            <th scope='col'>DAD</th>
            <th scope='col'>Agilent 6550A QTOF</th>
        </tr>
        <tr>
            <th scope='col'>2DLC-QTOF</th>
            <th scope='col'>2D-LC/MS/MS</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Two binary pumps</th>
            <th scope='col'>Multisampler, 576 sample capacity</th>
            <th scope='col'>Agilent 6545 QTOF</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>MIT Triple Quad</th>
            <th scope='col'>LC/MS/MS</th>
            <th scope='col'>MIT</th>
            <th scope='col'>76-610</th>
            <th scope='col'>Binary pump</th>
            <th scope='col'>Multisampler, 192 sample capacity</th>
            <th scope='col'>Agilent 6495A QQQ MS</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>ICP/MS</th>
            <th scope='col'>Inductively Coupled Plasma MS, metals analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>-</th>
            <th scope='col'>-</th>
            <th scope='col'>Agilent 7700s</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>Cary 3500 UV-vis</th>
            <th scope='col'>Optical analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>4 zone thermal control (0&#8211;100 C</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>Cary 8453 UV-vis</th>
            <th scope='col'>Optical analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>Multizone thermal control (10&#8211;70 C</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>Cary 60 UV-vis</th>
            <th scope='col'>Optical analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>18 channel cuvette statoin</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>Cary 630 FTIR</th>
            <th scope='col'>Optical analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>Cary Eclipse Fluorimeter</th>
            <th scope='col'>Optical analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>6890N GC/FID</th>
            <th scope='col'>GC</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>Headspace autosampler</th>
            <th scope='col'>FID</th>
            <th scope='col'>Also FID</th>
        </tr>
        <tr>
            <th scope='col'>7890B GC-MS/MS</th>
            <th scope='col'>GC/MS/MS</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>Liquid-only autosampler</th>
            <th scope='col'>7010B QQQ MS</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>7890B GC/MS</th>
            <th scope='col'>GC/MS</th>
            <th scope='col'>MIT</th>
            <th scope='col'>5-029</th>
            <th scope='col'>NA</th>
            <th scope='col'>Headspace autosampler</th>
            <th scope='col'>FID and TCD</th>
            <th scope='col'>5977 Quadrupole MS</th>
        </tr>
        <tr>
            <th scope='col'>ISCO 1</th>
            <th scope='col'>Normal phase prep/flash chromatograph</th>
            <th scope='col'>BWH</th>
            <th scope='col'>2nd Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>UV-Vis</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>ISCO 2</th>
            <th scope='col'>Normal and reversed phase prep</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>UV-Vis</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>GPC1</th>
            <th scope='col'>Polymer analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump, DMF or THF only</th>
            <th scope='col'>100 vial sampler</th>
            <th scope='col'>DAD</th>
            <th scope='col'>RID</th>
        </tr>
        <tr>
            <th scope='col'>GPC2</th>
            <th scope='col'>Polymer analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>5th Floor</th>
            <th scope='col'>Quat pump, water</th>
            <th scope='col'>100 vial sampler</th>
            <th scope='col'>DAD</th>
            <th scope='col'>RID</th>
        </tr>
        <tr>
            <th scope='col'>TA instruments DSC</th>
            <th scope='col'>Thermal analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
        <tr>
            <th scope='col'>TA instruments TGA</th>
            <th scope='col'>Thermal analysis</th>
            <th scope='col'>BWH</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
            <th scope='col'>NA</th>
        </tr>
    </tbody>
</table>