<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  </head>
  <body>
    {% include header.html %}
    <!-- <h1>{{ page.title }}</h1>
  <nav class="container page__nav" id="navigation">
    <ul class="nav nav-pills page__nav-inner" id="navbar">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">active</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">instruments</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">HPLC-A</a></li>
          <li><a class="dropdown-item" href="#">HPLC-B (LC/MS)</a></li>
          <li><a class="dropdown-item" href="#">HPLC-D</a></li>
          <li><a class="dropdown-item" href="#">HPLC-I</a></li>
          <li><a class="dropdown-item" href="#">UPLC/TOF</a></li>
          <li><a class="dropdown-item" href="#">HPLC/QQQ</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">methods</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">drugs</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">tools</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://morimoto.shinyapps.io/platemapr">platemapr</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">forms</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/forms">submit a request</a></li>
        </ul>
      </li>
    </ul>
  </nav> -->
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>