<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
<!--   <nav class="container page__nav" id="navigation">
    <ul class="nav nav-pills page__nav-inner" id="navbar">
      <li role="presentation" class="dropdown dropdown--navbar page__nav-hidden-mobile page__btn-nav-root">
        <a class="dropdown-toggle" href="#" role="button">
          "instruments "
          <span class="caret "></span>"
        </a>
        <li class="dropdown-menu dropdown-menu--top">
          <a href="/instruments/list" id="instruments">instruments</a>
        </li>
      <li><a href="/forms" id="forms">forms</a></li>
      <li><a href="https://morimoto.shinyapps.io/platemapr" id="tools">tools</a></li>
    </ul>
  </nav> -->
  <nav class="container page__nav" id="navigation">
    <ul class="nav nav-pills page__nav-inner" id="navbar">
      <li role="presentation" data-page="index.html" class="page__nav-hidden-mobile page__btn-nav-root active block">
        <a href="index.html" class="nav__link">Home</a>
      </li>

    </ul>
  </nav>
  <body>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>